.App-header {
    background-color: white;
    border-bottom: 2px solid black;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
}
.image {
    margin-left: 40px;
}
.logo {
      display: flex;
      flex-direction: column;
}
.name {
    color: red;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    font-family: 'Courgette', cursive;
    overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 59px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
    width: 100%;
    text-shadow: 1px 1px 4px black;
}
@media screen and (max-width: 1363px) {
    .search {
      display: none;
    }
  }
@media screen and (max-width: 674px) {
    .App-header {
      flex-direction: column;
    }
    .desc {
      display: flex;
      justify-content: center;
    }
  }
  @media screen and (max-width: 674px) {
    .name {
      width: 100%;
      justify-content: center;
    }
  }
  @media screen and (max-width: 460px) {
    .name {
        font-size: 2rem;
    }
    
  }
@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}
.desc {
    color:blue;
    margin-top: 0px;
    overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 21px;
    font-weight: 700;
    text-shadow: 0.5px 0.5px 15px black;
    border-right: 4px solid orange;
    box-sizing: border-box;
    text-align: left;
}

.name-desc {
    margin: 23px;
}

.search {
    margin: 3%;
    margin-left: -15%;
}

.uy {
  width: 80vw;
  height: 4.1vh;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: yellow;
  text-shadow: 1px 0px 5px black;
}