.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.ad {
  height: 32rem;
  box-shadow: 1px 3px 33px black;
}
.oi {
  height: 33.5rem;
}
.ar {
  background-color:orange;
  
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 83px;
}
.grid-1 {
  grid-column-start: 1;
  grid-column-end: 2;

}
.grid-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.grid-3 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.am{
  box-shadow: 1px 3px 33px black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.school {
  color: red;
  font: bold;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  animation: typing 5s steps(30, end);
}
@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}
.absolute {
  top:0px
}



.name-desc {
  margin: 23px;
}


.line-1{
    position: relative;
    top: 5%;  
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 1.4rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    color:rgb(102, 255, 0);  
    text-shadow: 2px 3px 4px black;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width:26rem;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.gh {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}
.uu {
  padding: 0px;
  color: black;
  text-decoration: underline;
}

.ss{
  margin:10px;
}
.df {
  box-shadow: 1px 1px 24px black;
}
.kl{
  width: 80vw;
}
.hj {
  font-family: cursive;
}
.fd {
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.ed {
  
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:80vw;
}

.white:hover {
  background-color:rgb(129, 161, 81);  
  border-radius: 4px;
}
.green:hover {
  background-color: green;
  border-radius: 4px;
}
.red:hover {
  background-color: red;
  border-radius: 4px;
}
@media screen and (max-width: 1112px) {
  .ar {
    grid-template-rows: 4fr 4fr 4fr;
    height:138rem;
  }
  .grid-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end: 5;
    overflow: hidden;
  
  }
  .grid-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:1 ;
    grid-column-end: 5;
  }
  .grid-3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:1 ;
    grid-column-end: 5;
  }
}
.map {
  margin-top: 27rem;
}
@media screen and (max-width: 1363px) {
  .search {
    display: none;
  }
}
@media screen and (max-width: 765px) {
  .line-1{
    width: 50vw;
  }
  .anim-typewriter{
    animation:  blink-animation 1s steps(5, start) infinite;
    
  }
}

@media screen and (max-width: 547px) {
  .line-1{
    font-size: 0.9rem;
  }
  .ar {
    grid-template-rows: 2fr 4fr 4fr;

  }
  .ad {
    height: 20rem;
  }
  .fd{
  font-size: 2.3rem;
  }
  .ed {
    font-size: 2.3rem;
  }
  .anim-typewriter{
    animation:  blink-animation 1s steps(5, start) infinite;
    
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
